/*
 * Estilos de tu proyecto
 */


 *{
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
 }
/* ---------------Star Header-----------------*/
nav{
    overflow: auto;
    position: relative;
 }
 header{
   clear: left;
   background-image: url("../assets/images/hero.gif");
   background-repeat: no-repeat;
   background-size: 100%;
   height: 600px;
   width: 100%;
 }

 /* alineando la figura con las lista*/
.figure-logo{
    width: 100px;
    display: inline-block;
}

 .logo-header{
     width: 70px;
     padding: 20px 30px;
 }

/*Poniendo la lista en inline*/
.list-header{
    display: inline-block;
    float: right;
    font-size: 17px;
}

 .list-header li{
     display: inline-block;
     padding: 40px 20px; /*alineando la imagen-logo con la lista*/
     color: #fff;
 }

/*Dandole color a mi etiqueta uncle*/
.list-header li a{
    color: white;
    border:  2px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}


/*-------------------Inicio de la Sección 1-----------------------*/

.secction1 {
  height: 500px;
  width: 550px;
  background-color: white;
  position: absolute;
  right: 0;
  padding: 50px;
  box-sizing: border-box;
  line-height: 1.5;
  color: #352384;
}
button {
    height: 50px ;
    width: 190px;
    color: white;
    font-size: 18px ;
    background: #ff00bf;
    border-radius: 5px;
    border: none;
}

.border-form{
    margin:5px 50px 30px;
}


/*------Inicio de la seccion 2---------------*/


.Second-section {
  clear: right;
  background-color:#793D95;
  height: 600px;
  width: 100%;
  text-align: center;
  padding: 100px 0px;
  margin-top: 0;
}

.secction2 {
   height: 270px;
   width: 100px;
   background-color:#793D95;
   text-align: justify;
   font-family: sans-serif;
   font-family: 'Gotham SSm A';
   color: #fff;
}

.row-second-section {
    display: inline-block;
    width: 100vh;
    padding-right: 5px;
    line-height: 2.5;

}


}
.secction2 p {
     line-height: 3;
}


.Second-section figure img {
    width:400px;
    height: 500px;
    border: 2px solid red;
    display: inline-block;
    margin-right: 100px;
}


/*------Inicio de la seccion 3----------------*/

.Third-section {
  /*clear: left;*/
    background-color: #FFFFFF;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}
.secction3{
   display: inline-block;
   border: 2px solid red;
   height: 480;
   width: 450px;
   margin-top: 8px
}
.video1 {
   display: inline-block;
   border: 2px solid red;

}


/*star footer*/
footer{
    background: #333447;
    color: white;
    font-size: 30px;
    text-align: center;
}

.class-footer{
    font-size: 15px;
    column-width: 25%;
    column-count: 4;
    column-gap: 200px;/*para el espacio entre columnas*/
    margin: 20px 20px;
    display: inline-block;
    list-style: none;
    text-align: justify;
}
.copyrigth{
    font-size: 15px;
}

.size-image img{
    width: 90px;
    height: 30px;
}

.class-footer div h5{
    font-size: 23px;
}
/*para quitar las etiquetas*/
.class-footer div ul{
    list-style: none;

}

.icons{
    border: 1px solid white;
        border-radius: 60px;
        height:35px ;
        width: 35px;
        padding: 3px;
        display: inline-block;
        margin: 20px;

}
.line{
    margin: 0 180px;
    border: 1.5px solid white;
    width: 988px;
}
